<!-- <H2>{{ title }}</H2> -->
<login-form></login-form>
<!-- <subjects></subjects>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<i class="material-icons">face</i> <br/>
<i class="material-icons">home</i> <br/>

<div>
    <input id="con" type="text" #content (keyup) = "onKeyPress(content.value)"> <br/>
    <label for="con">wel {{ hello | caption }}</label> <br/>
    <label>hitch {{ content.value | caption }}</label> <br/>

</div>

<i class="material-icons star">star</i> <br/>

<span><i class="material-icons" 
[class.star_border] = "!isFilled"
[class.star] = "isFilled"
(click) = "onClick()"> {{ myStar }} </i>
</span> <br/>

<i class="material-icons md-48">face</i>  <br/>   a code in css page was added to cater for the md here -->

<!-- <i class="material-icons">check_box_outline_blank</i> <br/>

<i class="material-radio">radio_button_checked</i>

<mat-radio-button></mat-radio-button> <br/>

<mat-icon>domain</mat-icon> <br/>

{{ movie.title | uppercase | lowercase }} <br/>
{{ movie.releaseDate | date:"dd-MMM-yyyy" }} <br/>
{{ movie.gross | currency:'NZD':'symbol-narrow' }} <br/>
{{ movie.rating | number:'1.2-2' }} <br/>

{{ movie.title | caption }} <br/>


<ul>
    <li>tttyyydfd</li>
</ul>


<ul>
    <li *ngFor="let item of countryList"> 
        {{item.countryID}} - {{item.countryName}} i'm here
    </li>
</ul>



<select [(ngModel)]="myTitle" id='mt'>
    <option *ngFor="let item of titleList">
        {{item.titleName}}
    </option>
</select>


<select [(ngModel)]="myCountry" (change)="onSelectCountry()" id='mc'>
    <option *ngFor="let item of countryList">
        {{item.countryName}}
    </option>
</select>

<select [(ngModel)]="myState" (change)="onSelectState()" id='ms'>
    <option *ngFor="let item of myStateNames">
        {{item.stateName}}
    </option>
</select>

<select [(ngModel)]="myLGA" id='ml'>
    <option *ngFor="let item of myLGANames">
        {{item.lgaName}}
    </option>
</select> -->

